.content {
    margin-top: 30px;
    margin-left: 30px;
}

.filter-container {
    margin-bottom: 10px;
}

.form {
    margin-top: 20px;
}

.form-field {
    display: inline-block;
    width: 70px;
}

.form-label {
    padding-bottom: 5px;
    display: inline-block;
}

.form-input {
    width: 200px;
    display: inline-block;
}

.contact-table {
    width: 550px;
}

.call-table {
    width: 550px;
}

.error-message {
    color: red;
}

.server-error-message-container {
    color: red;
    margin-top: 40px;
}

.input-error {
    border: 1px solid red;
    padding: 10px;
}

.notify-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    position: absolute;
    top: 0;
    right: 0;
}

.notify-item {
    width: 250px;
    margin: 5px 10px;
    color: #FFF;
    border-radius: 5px;
}

.notify-item:hover {
    opacity: 0.8;
    box-shadow: 0 0 10px 0 rgb(15, 15, 15);
}

.notify-item > p {
    font-family: 'Lora', serif;
    margin: 10px;
    opacity: .8;
}

.notify-item.success {
    background-color: rgba(81, 163, 81, 0.4);
}

.notify-item.error {
    background-color: rgba(203, 100, 94, 0.8);
}

.notify-item.info {
    background-color: rgba(33, 150, 243, 0.8);
}

.notify-title {
    font-weight: 700;
}

.modal-dialog {
    width: 350px;
}